/* CSS STYLESHEET FOR DASHBOARD APPLICATION */



@font-face {
    font-family: openSans;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: openSansLight;
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: openSansBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: billabong;
    src: url(../fonts/billabong.ttf);
}

html{

}

html, body, .container{
  height:100%;
  min-height: 100%;
  cursor: none;
  /*background-color: #F0EFF4;  FIX PNG + SVG WHITE BACKGROUNDS FIRST */
}

.greyBackground{
  background-color: #F0EFF4;
  height:100%;
      width: 100%;
    position: absolute;
}

.teal-background{
  background-color: #27B4B9;
  height:100%;
      width: 100%;
    position: absolute;
}

.greyCover{
  background-color: #F0EFF4;
  position:fixed;
  height:300%;
  width:300%;
  z-index:-99;
  bottom:300px;
}

h1{
  font-family:openSansLight;
  font-size: 5vw;
  text-align:center;
  color:#58595B;
  margin-top: 0 !important;
  padding-top: 20px !important;
}

.sliderWrapper{
  width: 80%;
  margin-left:10%;

}

.leftButton{
 position: fixed;
 background-color: transparent;
 width: 10%;
 height: 100%;
   z-index:9999;
}

.leftButton:hover{
  background-color: rgba(128, 128, 128, 0.5);
  z-index:99999;

}

.rightButton{
 position:fixed;
 right:0%;
 background-color: transparent;
 width: 10%;
 height: 100%;
 z-index:9999;

}

.rightButton:hover{
  background-color: rgba(128, 128, 128, 0.5);
   z-index:9999;
}


.settingsButton{
 position: fixed;
 top:0;
 background-color: transparent;
 width: 100%;
 height: 15%;
 z-index:1001;
}

.settingsButton:hover{
  background-color: rgba(128, 128, 128, 0.5);
  z-index:9999;
}

.logo{
    width: 12%;
    display: block;
    position: fixed;
    bottom: 2.5%;
    left: 2.5%;
    z-index: 1000;
}

.logo2{
    display:block;
    width:8%;
    position:fixed;
    bottom:3.5%;
    left:1.5%;
    z-index:1000;
}


.logo3{
    width:150px;
    height:150px;
    display:block;
    position:fixed;
    bottom:0;
    left:0;
    z-index:1000;
}



.stateFont{
  color:#58595B;
  font-size: 6vw;
}

#confAten{
  font-family:openSansLight;
}

body{
  overflow: hidden;
}


 body, html, .container{
  height:100%;
}


.container{

}

.my-container{
    position:relative;
    right:3%;
    width: 50%;
    margin: 0 auto;
}

.country {
    height: 100%;
    width: 100%;
}

span {
    position: relative;
}

div.nsw, div.qld, div.sa, div.nt, div.wa, div.vic{
    position: absolute;
    width: 18.3%;
    height: 18.3%;
    text-align: center;
    color:#fff;
     /*mess around */
    font-family:openSans;
}

div.nsw {
    top: 56.3%;
    left: 78.2%;
}

div.qld {
    top: 24.8%;
    left: 77.2%;
}

div.wa {
    top: 43.2%;
    left: 0.7%;
}

div.sa {
    top: 56%;
    left: 28%;
}

div.nt {
    top: 2.8%;
    left: 37.65%;
}

div.vic {
    top: 68.5%;
    left: 55%;
}

@media all and (min-width: 50px)   {  span  { font-size:2.1em;  } }
@media all and (min-width: 100px)  {  span  { font-size:2.2em;  } }
@media all and (min-width: 200px)  {  span  { font-size:2.4em;  } }
@media all and (min-width: 300px)  {  span  { font-size:2.6em;  } }
@media all and (min-width: 400px)  {  span  { font-size:2.8em;  } }
@media all and (min-width: 500px)  {  span  { font-size:3.0em;  } }
@media all and (min-width: 600px)  {  span  { font-size:3.4em;  } }
@media all and (min-width: 700px)  {  span  { font-size:3.8em;  } }
@media all and (min-width: 800px)  {  span  { font-size:4.2em;  } }
@media all and (min-width: 900px)  {  span  { font-size:4.6em;  } }
@media all and (min-width: 1000px) {  span  { font-size:5.0em;  } }
@media all and (min-width: 1100px) {  span  { font-size:5.4em;  } }
@media all and (min-width: 1200px) {  span  { font-size:5.8em;  } }
@media all and (min-width: 1300px) {  span  { font-size:6.2em;  } }
@media all and (min-width: 1400px) {  span  { font-size:6.6em;  } }
@media all and (min-width: 1500px) {  span  { font-size:7.0em;  } }
@media all and (min-width: 1500px) {  span  { font-size:7.2em;  } }
@media all and (min-width: 1600px) {  span  { font-size:7.4em;  } }
@media all and (min-width: 1700px) {  span  { font-size:7.6em;  } }

.internationalHolder{
  position:absolute;
  bottom:5%;
  left:79.5%;
}

.international{
  font-family:openSansLight;
  font-size:2vw;
  text-align:center;
}

.earth{
  width:100%;
}

div.earthNumbers{
    position: absolute;
    left: 39%;
    top: 38%;
    text-align: center;
    color: #58595B;
    font-family: openSans;
    margin-left: auto;
    margin-right: auto;
}

.countDownHeader{
  color:#58595B;
  font-family: openSansBold;
  text-decoration:bold;
  padding-top:20%;
  text-align:center;
  position:relative;
}

.countDown{
  text-align: center;
  margin: 0 auto;
  margin: 0 auto;
  width: 120%;
  position:relative;
  right:10%;
}

.time, .period{
  display: inline;
}

.time{
  color:#58595B;
  font-family:openSans;
  font-size:10vw;
}

.period{
  color:#58595B;
  font-family:openSans;
  font-size:2vw;
  padding-right:10px;
}

.conferenceStarts{
  padding-top:5%;
  text-align: center;
  height:100%;
}

.starts{
  font-family:openSansLight;
  color:#58595B;
  font-size:2vw;
}

.startDate{
  font-family:openSans;
  color:#8bc53f;
  font-size:3vw;
  position: relative;
  bottom:2.5%;
}

.cube{
  width:100%;
}

.cubeHolder{
    width: 100%;
    left: 1%;
    position: absolute;
}

.normal, .yellowBold{
  display: inline;
}

.normal{
  font-family:openSansLight;
  color:#58595B;
  font-size:2vw;
}

.yellowBold{
  font-family:openSans;
  color:#8bc53f;
  font-size:3vw;
  padding-left:1%;
  padding-right:1%;
}

.totalAttendees{
  text-align: center;
  width:50%;
  height:80%;
  z-index:999;
}

.totalAttendeesHeader{
  color:#58595B;
  font-family: openSans;
  font-size: 3vw;
  padding-bottom:6%;
}

.attendeeCircleHolder{
  width:60%;
  padding-top:10%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

.numberOf{
    position: absolute;
    color: #F0EFF4;
    font-family: openSans;
    /* text-align: center; */
    font-size: 14vw;
    width: 100%;
    height: 50%;
    bottom: 22%;
    left: 0%;
}

input[type="text"] {
  margin: 0;
  width: 60%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  margin-left:auto;
  margin-right:10%;
}

input[type="text"]:focus {

}

.label-default{
  background-color: #777;
  position: relative;
  top: 39px;
  left: 150px;
}
#save{
  width:20%;
}

#restore{
  width:40%;
}

.settingsContainer{
  position:fixed;
  bottom:3%;
  width:100%;
}

.keyInput{
  padding-top:2.5%;
  font-size: 1.5vw;
}

.keyText{
  text-align: center;
  position:relative;
  margin-right:5%;
  font-family: openSansLight;
}

@media screen and (min-height: 400px) {
    .synergyPages{
  height:300px;
  overflow-y:scroll;
  }
}

@media screen and (min-height: 750px) {
    .synergyPages{
  height:350px;
  overflow-y:scroll;
  }
}

@media screen and (min-height: 900px) {
    .synergyPages{
  height:500px;
  overflow-y:scroll;
  }
}




.pageSelected{
  text-align:center;
  font-family:openSansLight;
  font-size:2vw;
  padding-top:2.5%;
  padding-bottom:1%;
      overflow:hidden;
}

.pageContainer{
    width:70%;
    height:40%;
    margin-right:auto;
    margin-left:auto;
}

input[type=checkbox]{
  width:25px;
  height:25px;
}

.pageName{
  font-size:1vw;
  padding-right:20px;
}

.saveNExit{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  font-size:1.5vw;
  padding-top:5%;
  font-family:openSans;
  width:50%;
}

#svgGraph{
  height:600px;
  width:600px;
}

#percentageText{
  font-family:openSansLight;
  font-size:3vw;
  color:#58595B;
  padding:0;
}

#percent{
  font-family:openSans;
  font-size:8vw;
  color:#3F7AAD;
  text-align: center;
  padding-bottom:0;
  margin-bottom:0;
  padding-top:0;
  margin-top:0;
  position:relative;
}

#percentageText{
  text-align: left;
  padding-top:2.5%;
  padding-bottom:2.5%;
  height:100%;
  width:100%;
}

.percentageHeader{
  position:relative;
  top:100px;
  z-index:1000;
}



.graphContainer{
  width:60%;
  height:60%;
  position:fixed;
  bottom:5%;
  left:20%;
  z-index: 9999;

}

.graphContainer2{
  width:80%;
  height:80%;
  position:fixed;
  bottom:5%;
  left:10%;
  z-index: 9999;

}

#pieChartContainer{
  position:absolute;
  left:35%;
  top:20%;
  width:80%;
  z-index:1000;

}

#pieChartContainer2{
  position:absolute;
  top:15%;
  right:30%;
  width:80%;
  z-index:1000;
}

#pieChartContainer3{
  position:absolute;
  top:15%;
  left:30%;
  width:80%;
  z-index:1000;

}

.pieKpi{
}

#cloudPercent{
  font-family:openSans;
  font-size:8vw;
  color:#3F7AAD;

  position:relative;
}

#cloudPercentText{
  font-family:openSansLight;
  font-size:3vw;
  color:#58595B;
}

#cloudPercentTextContainer{
  position:absolute;
  top:10%;
  z-index:1000;
}

#pieChart{
}

#internPieChart{
}

.kpi{
  opacity: 1;
  transition: ease-out;
}
 /* when hiding the picture */
/* Initial state when showing
.ng-hide-remove {
  opacity: 0;
  display: block !important;
}

/* Will transition towards this state
.ng-hide-remove-active {
  opacity: 1;
} */





.animate.ng-hide-remove{
  transition: 3s;
  opacity: 0;
  display: block !important;
}

.animate.ng-hide-remove-active{
  transition:3s;
  opacity: 1;
}

.animate.ng-hide-add{
  transition:0.1s;
  opacity: 1;
}

.animate.ng-hide-add-active{
  transition:0.1s;
  opacity: 0;
}

#dataContainer{
  width:50%;
}

.synergy4Map{
  height:100%;
  width: 100%;
}

.my-container2{
    position:relative;
    right:3%;
    width: 50%;
    margin: 0 auto;

}

div.nsw2, div.qld2, div.sa2, div.nt2, div.wa2, div.vic2, div.act2, div.tas2, div.total{
    position: absolute;
    width: 18.3%;
    height: 18.3%;
    text-align: center;
    color:#FFF;
     /*mess around */
    font-family:openSans;
    font-size:80%;
}

div.act2, div.tas2{
  font-size:40%;
}

div.nsw2 {
    top: 59.3%;
    left: 80.6%;
}

div.qld2 {
    top: 25.8%;
    left: 77.2%;
}

div.wa2 {
    top: 45.2%;
    left: 0.7%;
}

div.sa2 {
    top: 58%;
    left: 27%;
}

div.nt2 {
    top: 2.8%;
    left: 37.65%;
}

div.vic2 {
    top: 71.5%;
    left: 55%;
}

div.tas2 {
    top: 88%;
    left: 76.8%;
}
div.act2 {
    top: 59.5%;
    left: 65.7%;
}

div.total{
  top:30%;
  left:35%;
  font-size:140%;
}

/* EXAMINE DATA WITH WORD WRAP ID BELOW */

#w74 { word-wrap: break-word; display:inline; }

.throwingHundreds{
  position:relative;
  height:100vw;
}
canvas {
	position:relative;
	top:-1000px;
	width:100% !important;
}

#synergy5NewClientCanvas{
  top:0;
  position:fixed;
}

.throwingPercents{
  height:100%;
}
.gravatarImage{
  width:100%;
  height:100%;
  /*-webkit-filter: grayscale(1);
       /* REMOVE */
}

.imageHolder{
  width:100%;
  height:100%;
  float:left;
  position:relative;
  padding:0;
  overflow:hidden;
  size: cover;
  max-width: 100%;
  max-height: 100%;
}

.imageHolder2{
  width:100%;
  height:100%;
  float:left;
}


.hunredHeight{
  width:100%;
  height:100%;
}

.block{
  opacity:0;
  width:100px;
  height:100px;
}

.blueBackground{
  background-color:#00AEEF;
  height:100%;
}

.fixedContainer{
}


.gravatarLogo{
  position:fixed;
  width:25%;
  top:35%;
  left:36%;
}

/*INDIVIAL GRAVATAR ID BELOW */

#realImageContainer{
  width:100%;
  display:block;
}

#holdAllTheGravatars{
  position:relative;
  height:100%;
  margin-left:2.3%;
  margin-right:1%;
}


#nameAndShameEmployees{
  position:absolute;
  padding: 0;
  margin: 0;
  bottom:5%;
  left:5%;
  font-family:openSansLight;
  font-size:1vw;
  z-index:1000;
  color: #000;
  text-shadow: 0.5px 0.5px #fff;
}

#gravatarName{
  position:relative;
  bottom: 15%;
margin-left: 3%;
  font-family:openSansLight;
  font-size:1vw;
  z-index:1000;
  color: #000;
  text-shadow: 0.5px 0.5px #fff;
}

.gravatarContainer{
  padding: auto;
  margin:auto;
}

.slackHolder{
  width:100%;
  height:200%;
  padding-bottom:2%;
  margin-left:10%;
  margin-right:10%;
}

.slackName{
  font-family: openSans;
  font-size: 3vw;
}

.slackMessage{
  font-family: openSansLight;
  font-size:1.5vw;
  margin-left:30%;
  position:relative;
  top:-50px;
  padding-bottom:50px;
  border-left: 2px #c6c8ca solid;
  padding-left:2.5%;
}

#weirdGraphContainer{
  width:80%;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
}


#helpDeskCategoryContainer{
  width:80%;

  overflow:hidden;
  margin-right:auto;
  height:80%;
  font-size:1vw;
  position:fixed;
  bottom:5%;
  left:10%;
}
#helpDeskCategoryContainer2{
  width:80%;

  overflow:hidden;
  margin-right:auto;
  height:80%;
  font-size:1vw;
  position:fixed;
  bottom:2%;
  left:10%;
}

#helpDeskCategories{
  width:80%;
  margin-left:auto;
  overflow:hidden;
  margin-left:auto;
  font-size:1vw;
}

#helpDeskCategories2{
  width:80%;
  margin-left:auto;
  overflow:hidden;
  margin-left:auto;
  font-size:1vw;
}

#firstChartContainer{
  width:80%;
  position:fixed;
  left:13%;
  top:18%;
}

#closedChart{
}

#secondChartContainer{
  width:80%;
  position:fixed;
  left:13%;
  top:18%;
}

#thirdChartContainer{
  width:80%;
  position:fixed;
  left:13%;
  top:18%;
}



svg text {
  font: normal 10px openSans !important;
}

#callsLegend{
  display: inline-block;
  text-align:center;
  width: 50%;
  margin-left:22%;
  padding-top:1.5%;
}

#callsLegend2{
  display: inline-block;
  text-align:center;
  width: 50%;
  position:fixed;
  top:15%;
  margin-left:23.5%;
}

#oneHourKey{
  display: inline-block;
  width:30px;
  height:30px;
  background-color: #6BAB4E

}

#fourHoursKey{
  display: inline-block;
  width:30px;
  height:30px;
  background-color: #3ac
}

#oneDayKey{
  display: inline-block;
  width:30px;
  height:30px;
  background-color: #F39200
}

.key{
  display: inline-block;
  font-family:openSansLight;
  font-size:2vw;
  padding-left:2.5%;
  padding-right:.5%;
}

#threeMonthsDiv{
  position:fixed;
  bottom:20%;
  right:20%;
  text-align:center;
}

#threeMonthsDiv2{
  position:fixed;
  bottom:20%;
  right:10%;
  text-align:center;
}

.normalThree{
  font-family:openSansLight;
  font-size:2vw;
  margin: 0;
  padding:0;
}

.numberOfCalls{
  font-family:openSans;
  font-size:7vw;
  margin: 0;
  padding:0;
  color:#3F7AAD;
}

.gravImage{
  float:right;

}

@media all and (min-width: 900px) and (max-width: 1125px) {
  .gravImage{
    width:130px;
    height:130px;
  }
}
@media all and (min-width: 1125px) and (max-width: 1350px) {
  .gravImage{
    width:165px;
    height:165px;
  }
}
@media all and (min-width: 1350px) and (max-width: 1575px) {
  .gravImage{
    width:185px;
    height:185px;
  }
  #gravHolder{
    right:0%;
    top:0%;
  }

}
@media all and (min-width: 1575px) and (max-width: 1800px) {
  .gravImage{
    width:225px;
    height:225px;
  }
  #gravHolder{
    right:10%;
    top:4%;
  }
}


#gravDiv{
  height:100%;
  width:100%;
}

.webViewGravataSSSSSSr{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.embed-container {
    height: 50%;
    width: 100%;
    padding-bottom: 10%;
    overflow: hidden;
    position: relative;
}

#redDiv{
  background: #777;
  width:20%;
  height:25%;
}

#outer{
  width: 100%;
  height: 100%;
}

#bounce{
  background: #ff0000;
  width:50px;
  height:50px;
}

#inner{
    width:80%;
    height:30px;
}

.gravTest{
  width:200px;
  height:100px
}

webview{
  height:100%;
}

#gravHolder{
  margin-left:auto;
  margin-right:auto;
  position:relative;
  right:4%;
  top:2%;
}

#fixedBlock{
  position:fixed;
  top:20%;
  left:30%;
  width:200px;
  height:200px;
  background : #ff0000;
  margin:10px;
  z-index:1000;

}

.gravatarNames{
  z-index:99999999;
  font-size:5vw;
  position:fixed;
  right:200px;
  top:100px;
  color: #000;
}

.testText{
  z-index:9999999;
  color: #000;
  position:absolute;
  top:10%;
  right:10%;

}

.gravHolder{
  position:relative;
}

#instagram{
  width:400px;
  height:400px;
}

.clientTrialHeader{
  font-family:openSansLight;
  font-size: 3vw;
  position:absolute;
  left:46%;
  top:10%;
}

.clientTrialHeader2{
  font-family:openSansLight;
  font-size: 3vw;
  position:absolute;
  left:46%;
  top:10%;
}

#trialAndActive{
  position:relative;
}

#pieChart4{
  position:relative;
  top:25px;
}

.bloodyLegendName{
  float:left;
  font-family:openSansLight;
  font-size:2vw;
  padding-right:1%;
  padding-left:3%;
}

#bloodyLegend{
  position:absolute;
  bottom:5%;
  left:30%;
  width:50%;
}

#orangeDiv{
  width:40px;
  height:40px;
  border-radius:2px;
  background: #F39200;
  float:left;
}

#blueDiv{
  width:40px;
  height:40px;
  border-radius:2px;
  background: #009EE3;
  float:left;
}

#greenDiv{
  width:40px;
  height:40px;
  border-radius:2px;
  background: #78AD29;
  float:left;
}

.donutPercentageHolder1{
  position: absolute;
  left: 40%;
  top: 44%;
  width: 20%;
}

.donutPercentageHolder2{
  position: absolute;
  left: 40%;
  top: 42.5%;
  width: 20%;
}

.donutPercentage{
  font-size: 6vw;
  color: #C6C8CA;
  font-family:openSans;
  text-align:center;
}



#firstInstagram{
  width:100%;
  height:37%;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #fff;
  border-radius:10px;
  padding:2%;
  margin:2%;
  float:right;
  overflow:hidden;
  padding-bottom:100px;
}

#secondInstagram{
  width:100%;
  height:37%;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #fff;
  border-radius:10px;
  padding:2%;
  margin:2%;
  float:right;
  overflow:hidden;
}
#thirdInstagram{
 width:100%;
  height:43%;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #fff;
  border-radius:10px;
  padding:2%;
  margin:2%;
  overflow:hidden;
}
#fourthInstagram{
  width:100%;
  height:36%;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #fff;
  border-radius:10px;
  padding:2%;
  overflow:hidden;
  margin:2%;
}
#fifthInstagram{
  width:100%;
  height:36%;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #fff;
  border-radius:10px;
  padding:2%;
  margin:2%;
  overflow:hidden;
}
#sixthInstagram{
  width:100%;
  height:43%;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #fff;
  border-radius:10px;
  padding:2%;
  margin:2%;
  float:center;
  overflow: hidden;
}
#seventhInstagram{
  width:100%;
  height:43%;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #fff;
  border-radius:10px;
  padding:2%;
  margin:2%;
  float:center;
  overflow: hidden;
}
#eighthInstagram{
  width:100%;
  height:36%;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #fff;
  border-radius:10px;
  padding:2%;
  margin:2%;
  overflow:hidden;
  }

.instagramController{
  position:relative;
  height: 100%;

}

.cols{
  height:100%;
  width:22%;
  float:left;
  padding-right:1%;
  margin-left:2%
  background: #777;
}

#colsHolder{
  width:100%;
  height:100%;
  margin-left:7%;
}

.instagramImage{
  width:90%;
  border-radius: 7px;
  overflow: hidden;
  margin-left:5%;
}

#synergyGram{
  width:30%;
  margin-left:35%;
}

.caption{
  text-align:center;
  font-size:1vw;
  color:#777;
  font-family:openSansLight;
  padding-top:0%;
  overflow:hidden;
}

#billabong{
  font-family: billabong;
  font-size: 7vw;
  text-align: center;
}
#heart {
    position: relative;
    width: 25px;
    height: 22px;
    left:30%;
    top:60%;
    padding-top:0px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 12.5px;
    top: 0;
    width: 12.5px;
    height: 20px;
    background: #777;
    border-radius: 12.5px 12.5px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}

#likesCount {
  font-family:openSans;
  font-size:1.5vw;
  color: #777;
  position: absolute;
  margin-left: 4%;
  padding-top:0.3%;
  display: inline;
}

#talkbubble {
   width: 24px;
   height: 18px;
   background: #777;
   position: relative;
  bottom:15px;
left: 55%;
  border-radius: 2px;
  margin-left: 9%;
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 4px;
   width: 0;
   height: 0;
   border-top: 3.9px solid transparent;
   border-right: 7.8px solid #777;
   border-bottom: 3.9px solid transparent;
}

#commentsCount {
  font-family:openSans;
  font-size:1.5vw;
  color: #777;
  position: absolute;
  margin-left: 11%;
  padding-top:0.3%;
  display: inline;
}

#instagramStats{
  width:100%;
  height:8%;
  padding-top:5%;
}

#monthNameHolder{
  width:72%;
  position:absolute;
  height:10%;
  bottom: 5%;
/*  background: #c6c8ca; */
  margin-left:15%;
}

#monthNames{
  display: inline;
  padding-right:19%;
  font-family: openSansLight;
  font-size:1vw;

}

#g1, #g2, #g3, #g4, #g5, #g6, #g7, #g8, #g9, #g10, #g11, #g12, #g13, #g14, #g15, #g16, #g17, #g18, #g19, #g20, #g21, #g22, #g23, #g24, #g25, #g26, #g27, #g28{
  width:14.25%;
  height:25%;
  padding:0.75%;
  float: left;
}

.gHolder{
  width:100%;
  height:100%;
}

.key{
}

#mapContainer{
  width: 100%;
  position:fixed;
  height:100%;
  background: #c0c0c0;
}

#heatMapContainer{
  position:fixed;
  top:30%;
  padding-left:5%;
  padding-right:5%;
}

#heatMapContainer2{
  position:fixed;
  top:31%;
  padding-left:5%;
  padding-right:5%;
}


.keyRow{
  padding-bottom: 3%;
  padding-top:3%;
}

.paddingTop{
  padding-top:2%;
}

.speed{
  text-align:center;
}

.speedHolder{
  position:fixed;
  bottom:10%;
  left:15%;
  width:50%;
}

.buttonHolder{
  position:fixed;
  bottom:10%;
  right:0%;
  width:30%;
}

.btn{
  margin-right:1%;
}

.form-control{
  width: 70%;
}

.card{
  background: #c6c8ca;
  padding-bottom:1%;
}

#trelloGravatar{
  width:100%;
  border-radius: 10%;

}

.cardHolder{
  box-shadow: 7px 25px 5px 0px rgba(49, 50, 50, 0.5);
  background: #fff;
  border-radius:10px;
  margin: 1.5%;
  height:35%;
  width:30%;
  float: left;
}

.isDoing{
  position: relative;
  padding: 2%;
}


#trello0, #trello1, #trello2, #trello3, #trello4, #trello5, #trello6, #trello7, #trello8{
  float:left;
  width:20%;
  padding:1%;
  padding: 0 10px 10px 10px;
}

.trelloName{
  font-family:openSansLight;
  padding-top:3%;
  padding-bottom:10%;
}

.trelloName2{
  font-family:openSansLight;
  text-align: center;
  font-size:2vw;
  padding: 1% 1% 1% 1%;
}

.blueBackground{
  background: #0E74AF;
  height:102%;
  width:100%;
  position:fixed;
  bottom:0%;
}

.trelloBackground{
  background: #F0EFF4;
  height:102%;
  width:100%;
  position:fixed;
  bottom:0%;
}

.cardContainer{
  width:80%;
  height:100%;
  margin-right:auto;
  margin-left:auto;
}

#trello{
  font-family:openSansLight;
  color: #777777;
}

#watching{
  font-size:2vw;
  margin-top:-0.5%;
  color:#999999;
  text-align:center;
  font-family:openSansLight;
}

.topDiv{
  width:100%;
  height:30%;
  background: #fff;
}

.bottomDiv{
  background: #e4e6e8;
  height:70%;
  border-radius: 0px 0px 10px 10px;
  border-top: 2px solid #c0c0c0;
}

#mapLegend{
  position:fixed;
  width:50%;
  margin-left: 30%;
  bottom:10%;
}

.kineticjs-content{
  position: relative;
  top: 1000px;
  display: inline-block;
  width: 1455px;
  height: 388px;
}

.activeHeader{
  font-family:openSansLight;
  color: #009EE3;
  font-size:5vw;
  text-align:center;
}

.trialHeader{
  font-family: openSansLight;
  color: #f39200;
  font-size: 5vw;
  text-align: center;
  position: fixed;
  left: 43%;
  bottom: 4%;
}

.activeCircle1, .activeCircle2, .activeCircle3{
  width:20%;
  height: 28%;
  background: #fff;
  margin: 1%;
}

.activeCircle1{
  left: 10%;
  top: 12%;
  position: absolute;
}

.activeCircle2{
  left: 39%;
  top: 12%;
  position: absolute;
}

.activeCircle3{
  right: 10%;
  top: 12%;
  position: absolute;
}

.trialSquare1, .trialSquare2, .trialSquare3{
  width:20%;
  height: 28%;
  background: #fff;
  margin: 1%;
}

.trialSquare1{
  left: 10%;
  bottom: 15%;
  position: absolute;
}

.trialSquare2{
  left: 39%;
  bottom: 15%;
  position: absolute;
}

.trialSquare3{
  right: 10%;
  bottom: 15%;
  position: absolute;
}

.circle1, .circle2, .circle3{
  width: 50%;
  height: 60%;
  border-radius: 50%;
  position: relative;
  top: 50%;
  margin-top: -25%;
  margin-left: auto;
  margin-right: auto;
  z-index: 9;
}

.square1, .square2, .square3{
  width: 50%;
  height: 60%;
  background: #777;
  position: relative;
  border-radius: 5%;
  top: 50%;
  margin-top: -25%;
  margin-left: auto;
  margin-right: auto;
  z-index: 9;
}

.shapeNumbers1, .shapeNumbers2, .shapeNumbers3, .shapeNumbers4, .shapeNumbers5, .shapeNumbers6{
  font-family: openSans;
  color: #fff;
  z-index: 999;
  font-size: 6vw;
  text-align: center;
  visibility: visible;
  vertical-align: middle;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.basicProfessionalEnterprise{
  position: fixed;
  top: 45%;
  width: 90%;
  height: 20px;
  margin-left: 5%;
  margin-right: 5%;
  color: #777;
  border-bottom: solid 2px #c0c0c0;
}

.activeTrialMiddleText, .activeTrialMiddleText2, .activeTrialMiddleText3{
  display: inline;
  font-size:2vw;
  padding: 0.5%;
  background: #fff;
}

.activeTrialMiddleText{
  position: relative;
  top: 25%;
  margin-top: -1.1%;
  left:13.8%;
}

.activeTrialMiddleText2{
  position: relative;
  top: 25%;
  margin-top: -1.1%;
  left:34%;
}


.activeTrialMiddleText3{
  position: relative;
  top: 25%;
  margin-top: -1.1%;
  left:49%;
}

.slackCardHolder{
  width:100%;
  height:20%;
  padding:1%;
  margin: 1%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

#slackGravatarHolder0, #slackGravatarHolder1, #slackGravatarHolder2, #slackGravatarHolder3, #slackGravatarHolder4, #slackGravatarHolder5{
  height:100px;
  width:100px;
  margin: 0;
}

.slackGravatarHolder{
  border-radius:30%;
  width:100%;
  margin-left: 0%;

}

.slackSideDetails{
  width: 25%;
  margin: 0;
  padding: 0;
}

.slackNameChannelHolder{
  margin-left: 38%;
  width: 50%;
  /* margin-bottom: -24%; */
  position: relative;
  top: -100px;
  margin-top: 0;
  margin-bottom: -38%;
}

.slackName{
  font-family:openSansLight;
  color: #777;
  font-size:2vw;
  text-align: center;
  margin: 0;
}

.slackChannel{
  font-family:openSansLight;
  color: #c0c0c0;
  font-size:1.5vw;
  text-align: center;
  margin: 0;

}

.slackMessageHolder{
  width: 75%;
  float: right;
  position: relative;
  top: -100px;
  font-family: openSansLight;
  font-size: 2vw;
  color: #777;
  border-left: 2px solid #c0c0c0;
  height: 100px;
  padding-left: 5%;

}

#paddingBottom{
  padding-bottom:2.5%;
}

.transparentImageHolder{
  width: 12.5%;
  z-index: -9;
  float: left;
  /* margin-right: 0.5%; */
  /* margin-left: 3%; */
  position: relative;
  margin-top: 15%;
  overflow: visible !important;
}


.fillingDiv0,  .fillingDiv1, .fillingDiv2, .fillingDiv3, .fillingDiv4, .fillingDiv5, .fillingDiv6, .fillingDiv7{
  z-index: 99;
  width: 100%;
  position: absolute;
  background: #009ee3;
  bottom: 10px;
  height: 10%;
}

#transparentWorker{
  z-index: 999;
  position: relative;
  left: -8%;
  width: 113%;
  top: -10px;
  display: block;
}

.subscriberCategoryHolder{
    position: absolute;
  width: 135%;
  margin-left: -22%;
  margin-right: auto;
}

.subscriberCategory{
  font-family:openSansLight;
  color: #777;
  font-size: 2vw;
  text-align: center;

}

.subscriberCategoryPercentage{
  font-family:openSansBold;
  color: #009EE3;
  font-size: 3vw;
  position:absolute;
  top: -37%;
  right: 24%;
  text-align: center;
}

.greyFill{
  z-index: 99;
  width: 100%;
  position: absolute;
  background: #c0c0c0;
  top: -10px;
  height: 100%
}

.bumpUp{

}

.transparentCategoryHolder{
  width:20%;
  float: left;
  margin:2.5%;
  margin-top:10%;
}

.staffDistributionPercentage1, .staffDistributionPercentage2, .staffDistributionPercentage3, .staffDistributionPercentage0{
  text-align: center;
  font-family:openSansBold;
  color:#78AD29;
  font-size:3vw;
}

.staffDistributionName{
  text-align: center;
  font-family:openSansLight;
  font-size: 3vw;
}

.staffSize1, .staffSize2, .staffSize3, .staffSize0{
  width:100%;
  -webkit-filter: hue-rotate(-113deg);
}

.clientNameHolder, .clientNameHolder2, .clientNameHolder3{
  position:absolute;
  top:20%;
  right:5%;
  width:50%;
  font-family:openSansLight;
  text-align: center;
  z-index:5;
}


.paddingBottom{
  margin-bottom:10%;
}

.clientSpenderHolder1, .clientSpenderHolder2, .clientSpenderHolder3{
  position: fixed;
  top:15%;
  left:5%;
  height:80%;
  width:40%;
}

.clientHappinessLevel1, .clientHappinessLevel2, .clientHappinessLevel3 {
  font-size: 4vw;
  font-family: openSansBold;
  text-align:center;
  z-index:9;
}

.clientFallBehind{
  position: fixed;
  top: 0;
  
  width: 100%;
  height: 15%;
  
  z-index: 10;
  background: #F0EFF4;
}

.clientTypeheader{
  font-family:openSansLight;
  text-align:center;
  color:#58595B;
  z-index: 12;
  position: relative;
}

.clientTypeHolder{
    font-size: 5vw;
      margin-top: 0 !important;
  padding-top: 20px !important;
}

.clientHappinessLevel1{
    color: #009ee3;
}

.clientHappinessLevel2{
  color: #78Ad29;
}

.clientHappinessLevel3{
  color: #f39200;
}

.clientRankings{
  font-family:openSansLight;
}

.abcImageHolder{
  width:80%;
  height:80%;
  position:absolute;
  top:10%;
  left: 10%;
}

.abcImage{
  width:100%;
  z-index: -10;
}

.facialExpressionHolder{
  position: absolute;
  top: 0%;
  left: 21.2%;
  width: 20%;
  height: 16%;
}

.facialExpressionHolder2{
  position: absolute;
  top: 0%;
  left: 19.4%;
  width: 20%;
  height: 16%;
}

.facialExpressionHolder3{
  position: absolute;
  top: 0%;
  left: 41%;
  width: 18%;
  height: 16%;
}

.facialExpression, .facialExpression2{
  width: 80%;
  height: 80%;
  margin-top: 20%;
  margin-left: 10%;
  margin-right: auto;
}

.facialExpression2{
  width:75% !important;
  height:75% !important;
  margin-left:14% !important;
}

.totalSynergy5SettingPages{
  float:left;
  margin-left:5%;
}

.lifeTimeValueSentence{
  font-family:openSansLight;
  font-size:5vw;
  text-align:center;
  margin-top:7%;
  line-height:100%;
}

.lifeTimeValue{
  font-family: openSansBold;
  text-align: center;
  color: #009ee3;
  font-size: 11vw;
  margin-top: 5%;
}

#lifeTimeValueChart{
  position:absolute;
  z-index:-1;
  top:4%;
  left:0;
  right:0;
  width: 95%;
}

.jokeName{
  font-size: 5vw;
  font-family: openSans;
  text-align: center;
  margin-top: 5%;
}


.joke{
  font-size: 4vw;
  font-family: openSansLight;
  margin: 5% 2.5% 0% 2.5%;
  border-top: 2px solid #FD4602;
  border-bottom: 2px solid #FD4602;
  text-align:center;
  padding:5%;
}

.redditLogo{
  position:fixed;
  width: 12.5%;
  bottom: 2.5%;
  left: 0.5%;
}

.aprilFoolsHolder{
  width:600px;
  background:#c0c0c0;
  margin:100px auto 100% auto;
}

.aprilFools{
  font-size:4vw;
  font-family:openSansLight;
  text-align:center;
}

.googleAdvisor{
  font-size:2vw;
  font-family:openSansBold;
  text-align: center;
}

#averageLifeChart{
  position:absolute;
  z-index:-1;
  top:4%;
  left:0;
  right:0;
  width: 95%;
}

.avLifeChartHolder{
  position: fixed;
  width: 90%;
  height: 75%;
  margin-left: 5%;
  margin-top:5%;
}

.averageLifeSquare{
  position:absolute;
  width:50px;
  height:50px;
  background: #78ad29;
  right:11.5%;
  top:0;
  border-radius:50%;
}

.averageLifeIs{
  text-align:center;
}

.averageLifeText{
  font-family: openSansLight;
  font-size:3vw;
  display:inline;
}

.averageLifeTimeText{
  font-family: openSansBold;
  font-size:3vw;
  color:#78ad29;
  display:inline;
}

.buttonHolders{
  width:50%;
  position:fixed;
  bottom:0;
  left:25%;
  z-index:9999;
  opacity:0;
}

.buttonHolders:hover{
  background-color: #e5e5e5;
  opacity:1;
  border-radius:5px;
  z-index:9999;
  visibility:visible;
}

.rightButtonAllPages, .settingsButtonAllPages, .leftButtonAllPages, .pauseButtonAllPages, .playButtonAllPages{
  width:20%;
  float:left;
  opacity: 0.5;
}

.rightButtonAllPages:hover, .settingsButtonAllPages:hover, .leftButtonAllPages:hover, .pauseButtonAllPages:hover, .playButtonAllPages:hover{
  opacity:1;
}



.leaderBoard{
  position:fixed;
  width:100%;
  height:100%;
  overflow: hidden;

}

.leaderboardHeader{
  width:100%;
  height:15%;
  background: #009ee3;
}

.leaderboardText{
  font-size: 4vw;
  text-align:center;
  color:#fff;
  margin: 0 !important;
  padding-top: 20px;
}

.leaderboardFirstPlace{
  width:100%;
  background: #EDF9FE;
  padding-top:0.5px;
  height:100px;
}

.leaderFirstPlaceRanking{
  color: #000;
  font-size:4vw;
  border-radius:50%;
  width:50px;
  height:15%;
  margin:5px 0px 25px 25px;
  text-align:center;
  font-family:openSansBold;
  float:left;
}

.leaderboardLeft{
  width:51%;
  float:left;
  position:relative;
  height:100%;
}

.leaderboardRight{
  width:25%;
  float:right;
}

.leaderboardFirstPlaceName{
  width: 54%;
  float: left;
  height: 100%;
}

.firstPlaceGravHolder{
  width: 75px;
  height: 75px;
  float: left;
  position:relative;
}

.lbGrav0{
  width: 75px;
  height: 75px;
  float: left;
  margin: 12.5px 46px;
}

.leaderboardFirstPlaceNameText{
  font-family:openSans;
  font-size:2.5vw;
  float:left;
  margin-top:25px;
  margin-left: 96px;
  
}

.employeePosition{
  font-family:openSansLight;
  font-size:1.5vw;
  text-align: center;
  float: left;
  margin-left:8%;
  margin-top:15px;
}

.leaderBoardFirstPlaceTime{
  margin-right: 150px;
  float: right;
  font-size: 66px;
  font-family: openSans;
  margin-bottom: 0;
}

.leaderboardSecondPlace{
  width:100%;
  height:75px;
  padding-top:0.5px;
  background: #fff;
}

.leaderSecondPlaceRanking{
  color: #000;
  font-size:2.5vw;
  border-radius:50%;
  width:40px;
  height:40px;
  margin:20px 0px 10px 30px;
  text-align:center;
  font-family:openSansBold;
  float:left;
}


.leaderboardSecondPlaceName{
  width: 54%;
  float: left;
  height: 100%;
}

.leaderBoardSecondPlaceTime{
    margin-right: 150px;
  float: right;
  font-size: 40px;
  font-family: openSans;
  position: relative;
  margin-bottom:0px;
}

.lbGrav2, .lbGrav1{
  width:60px;
  height:60px;
  background: #c0c0c0;
  border-radius:5px;
  float:left;
  margin: 5px 58px;
  position:relative;
}

.leaderboardSecondPlaceNameText{
  font-family:openSans;
  font-size:1.5vw;
  float:left;
  margin:0 !important;
  position:relative;
  top:20px;
  
}

.leaderBoardTopTenIndividual{
  width:100%;
  height:14%;
  float:left;
}


.leaderBoardTopTenIndividual0{
  width:50%;
  height:25%;
  float:right;
}

.leaderBoardTopTenIndividual1{
  width:50%;
  height:25%;
  float:left;
}

.leaderBoardLastIndividual{
  width:50%;
  float:left;
  border-top: dashed 5px;
  padding-top: 7px
}

.leaderRanking0, .leaderRanking1, .leaderRanking2,.leaderRanking99{
  color: #000;
  font-size:30px;
  border-radius:50%;
  width:40px;
  height:40px;
  margin: 15px 5px 0 30px;
  text-align:center;
  font-family:openSansBold;
  float:left;
}

.leaderRanking99{
  margin-left:-20px !important;
}


.standardlbGrav{
  width:45px;
  height:45px;
  background: #c0c0c0;
  border-radius:5px;
  float:left;
  margin:5px;
    margin-left: 62px;
    margin-top:12px;
}


.lbGravatar{
  width:100%;
  height:100%;
}

.marginLeftGrav{
  margin-left:40px !important;
}

.leaderboardName{
  
}

.leaderboardNameText{
  
}

.leaderBoardTime{
  font-size:30px;
  font-family:openSans;
  margin-left:185px;
  margin-top:12px;
    margin-right: 150px;
  float: right;
}

.leaderboardTopTen{
  height:60%;
  position:relative;
  z-index:-1;
}

.blueBackground0{
  border-bottom: 2px dashed #c0c0c0;
}

.blueBackground1{
  border-bottom: 2px dashed #c0c0c0;
}


.leaderboardLeft2{
  width:65%;
  float:left;
  overflow:hidden;
}

.leaderboardRight2{
  width:25%;
  float:right;
}


.winner{
  width: 120px;
  position: absolute;
  top: 0px;
  left:23px;
}

.silver{
  width: 42px;
  position: absolute;
  top: 38px;
  left: 161px;
}

#relicWebView{
  background: #c0c0c0;
  position:fixed;
  height:100%;
  width:100%;
  border: solid 2px;
}

.orgChart{
  width:100%;
  height:100%;
  position:fixed;
}

/* MARKETING VISION AND VALUES */
ul{
  list-style: none;
  padding: 0;
}

li:before {
  position: relative;
  top:5px;
  content: "•";
  font-size: 50px;
  line-height:50px;
  padding-right:10px;
}

.valuesLogoHolder{
  position:fixed;
  bottom:50px;
  left:50px;
}

.valuesLogo{
  font-family:openSansBold;
  font-size:50px;
  color: #78ad29;
}

.valuesLogoSubtext{
  font-family:openSansLight;
  font-size:50px;
}

.valuesLogo2{
  font-family:openSansBold;
  font-size:50px;
  color:#009ee3;
}

.valuesLogoSubtext2{
  font-family:openSansLight;
  font-size:50px;
}

.visionOrValueHolder{
  height:500px;
}

.visionOrValueHolder{
  
}

.valueImageHolder{
  width:300px;
  height: 300px;
}

.synergyValueImage{
  width:100%;
  height:100%;
}


.visionTitle, .valueTitle{
  font-family:openSansBold;
  float:left;
  font-size:4vw;
}

.visionTitle ,.valueHolder li:before{
    color: #78ad29;
}

.valueTitle, .visionHolder li:before{
    color: #009ee3;
}

.visionDotPoint, .valueDotPoint{
  color: #2d2d2d;
  font-size:30px;
  font-family: openSansBold;
  display:inline;
  white-space: nowrap;
}

.visionOrValueSubText{
  color : #000;
  font-size: 30px;
  font-family: openSansLight;
  display:inline;
  margin-left: 5px;
}

/*OUTER TO APPEND #bomRadarWebView to*/
.bomRadarWebView{
  width:515px;
  height:480px;
  overflow: hidden;
  margin-top: 14px;

}

#northSyndneyPosition{
  position: absolute;
}
/* INNER */
#bomRadarWebView{
  width: 1200px;
  height: 1200px;
  position: relative;
  bottom: 265px;
  right: 122px;
}

.dayOfWeek{
  font-family: openSansLight;
  color: #525252;
  font-size:30px;
}

.inline{
    display:inline;
}

.temperature{
  font-size: 100px;
  color: #2d2d2d;
  font-family:openSans;
  line-height:200px;
}

.miniTemperature{
  display: inline;
  font-family: openSans;
  color: #252525;
  font-size: 29px;
  margin: 0 5%;
}

.weatherHolder{
  height:200px;
  width:200px;
}

.miniWeatherHolder1, .miniWeatherHolder2, .miniWeatherHolder3, .miniWeatherHolder4{
  width:50px;
  height:35px;
  margin: 0 10%;
}

.marginBottom2{
  margin-bottom: 2%;
}

.yammerCard{
  border-bottom: solid 2px #e2e2e2;
  margin-top:2%;
  padding-bottom:1%;
  height:30%;
  overflow: hidden;
}

.yammerClip{
  font-family: openSansLight;
  color: #717171;
  border-left: solid 10px #009ee3;
  font-size: 1.3vw;
  padding-left: 5px;
  margin-bottom: 15px;
}

.yammerGrav{
  width:70px;
}

.yammerBody{
  font-size: 1.6vw;
  font-family:openSansLight;
  margin-top: 0.5%;
}

.positonRelative{
  position:relative;
}

.yammerCreated{
  position:absolute;
  bottom:0;
  right:0;
  font-family:openSansLight;
  color: #777;
}

.marginTop0{
  margin-top:0;
}

.yammerLogo{
  width: 70px;
  position: fixed;
  bottom: 20px;
  left: 25px;
}

.hundredHeight{
  height:100%;
}

#trelloSelect{
  float: left;
  margin-left: 4%;
  width: 50%;
}

#trelloAuthHolder{
  margin-top:5%;
}

#trelloList{

    display: inline;
  font-size: 1.5vw;
  float: left;
}

#twitterTitle{
  width: 50%;
  margin-left: 25%;
}

#twitterTotalSynergy{
  float:left;
}

#twitterBird{
  width: 14%;
  margin: 3%;
}

.tweet{
  margin-top: 5%;
  border-top: 7px solid #009ee3;
}


.tweetStatsHolder{
  width: 50%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.tweetText{
  font-family: openSansLight;
  font-size: 2vw;
}

.tweetStat{
  font-size:40px;
}

.tweetStatValue{
  font-size: 30px;
  line-height: 40px;
  width: 40px;
  float: right;
}

.tweetRetweets{
  width: 100px;
  height: 50px;
  float: left;
  margin-left:10%;
}

.tweetFavourites{
  width: 100px;
  height: 50px;
  float: left;
  margin-left:10%;
}

.tweetTime{
  font-size: 20px;
  font-family: openSansLight;
  color: #777777;
  float: left;
  margin-left: 10%;
  line-height: 40px;
}

.gSHolder{
  width:100%;
  height:100%;
}

.gSHolder div{
  width:14.25%;
  height:25%;
  padding:0.75%;
  float: left;
  position:relative;
}

.gSHolder div img{
  border-radius: 50%;
}


#synergy5-logo-holder{
  width: 200px;
    height: 200px;
    background: white;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 50%;
}

#synergy5-logo-holder img{
    position: absolute;
    width: 100%;
    left: 10px;
}

.gSHolder div p{
    position: relative;
    bottom: 25px;
    background: #58C8DF;
    border-radius: 27px;
    padding: 2px 12px;
    box-shadow: 1px 1px 1px #494949;
    border: 1px solid #FFFFFF;
    font-family: openSans;
    font-size: 1vw;
    z-index: 1000;
    color: #FFF;
    font-weight: bold;
    display:inline-block;
}


.emptyGrav5{
  width:14.25%;
  height:25%;
  padding:0.75%;
  float: left;
}

.percent-margin-top{
  margin-top:10%;
}

.fixed-max{
  position:fixed;
  width:100%;
  height:100%;
}
.synergy5-client-flex{
    flex-direction: column;
    display: flex;
    align-item: center;
    align-items: center;
    justify-content: center;
    box-orient: vertical;
    box-pack: center;
    box-align: center;
    min-height: 100%;
}

#synergy5-new-client{
  font-size: 7vw;
  font-family: openSans;
  color:#5c5c5c;
  line-height: 7vw;
  text-align:center;
}
#synergy5-new-client-sub{
      font-size: 3vw;
    font-family: openSansLight;
    text-align: justify;
}

#synergy5-new-client-location{
    font-size: 2vw;
    color: #27B4B9;
    position: relative;
    top: 16px;
    font-family: openSansLight;
}

#synergy5-new-client-position{
  font-size: 3vw;
    font-family: openSans;
    color: #333;
    text-transform: uppercase;
}

    

#synergy5-new-client-position #highlight-position{
  font-size:5vw;
  color: #27B4B9;
  text-transform:lowercase;
}

.synergy5-new-client-flexbox{
  display: flexbox;
}

.medium-margin-bottom{
  margin-bottom:50px;
}


