<!DOCTYPE html>
<html ng-app="myApp" ng-csp="">
<head>
  <meta charset="utf-8">
  <title>test2</title>
  <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/firstController.js"></script>
     <script type="text/javascript" src="js/kpiControllers.js"></script>
     <script type="text/javascript" src="js/settingsController.js"></script>
     <script type="text/javascript" src="js/eventBriteController.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/angular-slider.js"></script>
    <script type="text/javascript" src="js/rzslider.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/npm.js"></script>
    <script type="text/javascript" src="js/d3.js"></script>
    <script type="text/javascript" src="js/nv.d3.js"></script>
    <script type="text/javascript" src="js/angular-animate.js"></script>
    <script type="text/javascript" src="js/angularjs-nvd3-directives.js"></script>
    <script type="text/javascript" src="js/snowstorm.js"></script>
    <script type="text/javascript" src="js/angular-md5.js"></script>
    <script type="text/javascript" src="js/gravatar.js"></script>
    <script type="text/javascript" src="js/angular.audio.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="angular-csp.css">
    <link rel="stylesheet" href="angular-slider.css">
    <link rel="stylesheet" href="css/rzslider.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/nv.d3.css">
    <link rel="stylesheet" href="css/animations.css">


</head>

<body>
<div ng-controller="FirstController" ng-init="init()">
<img src="assets/Eventbrite feed SVG_Logo.svg" ng-show="(tab == 4 || tab == 5 || tab == 6) && tab != 99 " class="logo">
<img src="assets/logo.png" ng-show="tab < 4 || tab ==  6 || tab  > 7" class="logo2">
</div>

  <div class="leftButton" ng-controller="FirstController" ng-show="tab != 99" ng-click="leftButton()">

  </div>
  <div class="rightButton" ng-controller="FirstController" ng-show="tab != 99" ng-click="rightButton()">

  </div>
  <div class="settingsButton" ng-controller="FirstController" ng-show="tab != 99" ng-click="settingsButtonHit()">
  </div>


  <div class="heightController kpi pieKPI" ng-controller="FirstKPI" ng-show="tab == 1">
      <div class="container animate" ng-show="tab == 1">
      <div id="cloudPercentTextContainer">
      <p id="cloudPercent">{{percentage}}%</p>
      <p id="cloudPercentText">OF CLIENTS SYNCHRONISE<br>WITH THE CLOUD</p>
      </div>
      </div>
      <div id="pieChartContainer">
      <nvd3-pie-chart
    	  data="pieData"
        id="pieChart"
        width="550"
        height="350"
        x="xFunction()"
        y="yFunction()"
        objectEquality="true"
        color="colorFunction()">
        <svg height="250"></svg>
      </nvd3-pie-chart>
    </div>
  </div>

  <div ng-controller="SecondKPI" class="kpi" ng-show="tab ==2">
    <div class="container animate" ng-show="tab == 2">
      <div id="cloudPercentTextContainer">
      <p id="cloudPercent">{{percentage}}%</p>
      <p id="cloudPercentText">INTERN PRODUCTIVITY</p></p>
      </div>
      </div>
      <div id="pieChartContainer">
      <nvd3-pie-chart
    	  data="internPieData"
        id="internPieChart"
        width="550"
        height="350"
        x="xFunction()"
        y="yFunction()"
        objectEquality="true"
        color="colorFunction()">
        <svg height="250"></svg>
      </nvd3-pie-chart>
    </div>
  </div>


  <div class="heightController kpi" ng-controller="ThirdKPI" ng-show="tab == 3">
  <div class="container percentageHeader animate" ng-show="tab==3">
      <div id="rows">
         <div class="col-md-4">
            <p id="percent">{{percentage}}%</p>
         </div>
         <div class="colo-md-8">
            <p id="percentageText">OF CLIENTS ARE ON THE<br> CURRENT DESKTOP VERSION</p>
         </div>
      </div>
  </div>
  <div class="graphContainer">
       <nvd3-discrete-bar-chart
            data="barData"
            id="barChart"
            width="800"
            height="400"
            tooltips="false"
            showXAxis="true"
            showYAxis="false"
            color="colorFunction()"
            objectEquality="true">
        <svg></svg>
    </nvd3-discrete-bar-chart>
    </div>
 </div>


  <div ng-controller="FourthKPI" class="kpi animate" ng-show="tab == 4">
  <div class="container totalAttendees">
    <img class="cube" src="assets/cubeBlank.png">
    <div class="numberOf"><p class="numberOfAttendees">{{totalAttendees}}</p></div>
    <h2 class="totalAttendeesHeader">TOTAL<br>ATTENDEES</h2>
    <p class="normal">LAST YEAR</p>
    <p class="yellowBold">96</p>
    <p class="normal"> ATTENDEES</p>
    </div>
  </div>


  <div ng-controller="FifthKPI" class="kpi animate" ng-show="tab == 5">
    <h1 id="confAten">CONFERENCE ATTENDEES</h1>
    <div class="my-container">
    <img class="country" src="assets/Eventbrite feed SVG_Map.svg" alt="" />
    <div class="nsw"><span>{{NSWnACT}}</span></div>
    <div class="qld"><span>{{QLD}}</span></div>
    <div class="wa"><span>{{WA}}</span></div>
    <div class="nt"><span>{{NT}}</span></div>
    <div class="vic"><span>{{VICnTAS}}</span></div>
    <div class="sa"><span>{{SA}}</span></div>
    </div>
    <div class="international">INTERNATIONAL</div>
    <img class="earth" src="assets/EARTH.svg" alt=""/>
    <div class="earthNumbers"><span>{{international}}</span></div>
    <!--
    <div class ="mapContainer">

    <img src="assets/Eventbrite feed SVG_Map.svg" class="AustraliaMap"></img>
      <p class="nsw stateFont">{{NSWnACT}}</p>
      <p class="qld stateFont">{{QLD}}</p>
      <p class="nt stateFont">{{NT}}</p>
      <p class="wa stateFont">{{WA}}</p>
      <p class="sa stateFont">{{SA}}</p>
      <p class="vic stateFont">{{VICnTAS}}</p>
    </div> -->
  </div>



  <div ng-controller="SixthKPI" class="kpi animate" ng-show="tab == 6">
  <div class="container">
    <h2 class="countDownHeader">SYNERGY2015<br>COUNTDOWN</h2>
    <div class="countDown">
    <h3 class="time">{{days}}</h3><p class="period">DAYS</p>
    <h3 class="time">{{hours}}</h3><p class="period">HOURS</p>
    <h3 class="time">{{minutes}}</h3><p class="period">MINUTES</p>
    </div>
    <div class="conferenceStarts">
      <p class="starts">CONFERENCE STARTS</p>
      <p class="startDate">19 MARCH 2015</p>
    </div>
  </div>
  </div>



  <div ng-controller="SeventhKPI" class="kpi animate heightController hunredHeight" ng-show="tab == 7">
      <div ng-repeat="image in imageHolder" class="hunredHeight">
      <div class="imageHolder">
      <img ng-src="{{image}}" class="gravatarImage"/>
      </div>
      </div>
      {{hashHolder}}
  </div>

  <div ng-controller="EighthKPI" class="kpi animate" ng-show="tab == 8">
      <h1 ng-show="tab == 8">Total Synergy Clients</h1>
      <div class="my-container2" ng-show="tab == 8">
      <img class="synergy4Map" src="assets/Synergy4Map.svg" alt="" />
       <div class="total"><span>{{total}}</span></div>
       <div class="nsw2"><span>{{NSW}}</span></div>
       <div class="qld2"><span>{{QLD}}</span></div>
       <div class="wa2"><span>{{WA}}</span></div>
       <div class="nt2"><span>{{NT}}</span></div>
       <div class="vic2"><span>{{VIC}}</span></div>
       <div class="sa2"><span>{{SA}}</span></div>
       <div class="act2"><span>{{ACT}}</span></div>
       <div class="tas2"><span>{{TAS}}</span></div>
      </div>
      <div class="international">INTERNATIONAL</div>
    <img class="earth" src="assets/EARTH.svg" alt=""/>
    <div class="earthNumbers"><span>{{international}}</span></div>
  </div>

  <div ng-controller="NinthKPI" class="kpi animate" ng-show="tab == 9">
    <div class="container">
      <h1>Test Page 2</h1>
       Data: {{data}}
    </div>
  </div>

  <div ng-controller="TenthKPI" class="kpi animate" ng-show="tab == 10">
    <div class="container">
      <h1>Test Page 3</h1>
      <p id="w74"> Data: {{data}}</p>
    </div>
  </div>


<!-- TO ADD A NEW KPI - INSERT AT END, ADD A VARIABLE ONTO APP.JS VARIABLE PAGES, CREATE THE RIGHT LISTENERS IN THE CONTROLLER AND MAKE TAB == WHATEVER
CONTROLLER IT IS. FINALLY, TURN OFF CHROME LOCAL STORAGE - then SAVE PAGES. TUNR OFF APP AND TURN ON LOCAL STORAGE AGAIN + CHANGE THE BACKUP PAGES
IN SETTINGS RESTORE-->



  <div ng-controller="SettingsController as settings" ng-show="tab == 99" ng-init="initSlider()">
  <div class="container">
    <div class="rows">
    <h1>SETTINGS</h1>
    </div>
    <div class="row keyInput">
    <p class="col-md-3 col-md-offset-3 keyText">EventBrite Key - </p>
    <input type="text" class = "col-md-3 col-md-offset-3" ng-model="eventBriteKey" name="text" />
    </div>
    <div class="rows keyInput">
    <p class="col-md-3 col-md-offset-3 keyText">TotalSynergy Key -</p>
    <input type="text" class = "col-md-3 col-md-offset-3" ng-model="totalSynergyKey" name="text" />
    </div>
    </div>
    <p class="pageSelected">Pages Selected</p>
    <div class="rows pageContainer">
      <div ng-repeat="page in pages">
        <div class="col-md-4 col-lg-4 pageName">
          <input type="checkbox" name="page.name" value="page.name" ng-checked="page.isSelected" ng-click="turnOffPage(page)">{{"  " + page.name}}</input>
        </div>
      </div>
    </div>
    <div class="pageContainer">
    <div class="col md-12">
    <p class="speed">Speed: {{speed/1000}} seconds</p>
    <slider floor="1000" ceiling="30000" step="1000" ng-model="speed"></slider>
    </div>
    </div>
    <div class="rows pageContainer">
      <div class="saveNExit">
          <input type="submit" value="Save" id="save" ng-click="save()"/>
          <input type="submit" value="Exit" id="save" ng-click="settingsClose()"/>
          <input type="submit" value="Restore" id="restore" ng-click="restoreDefaults()"/>
      </div>
    </div>
  </div>
  </div>



</body>