<!DOCTYPE html>
<html ng-app="myApp" ng-csp="">
<head>
  <meta charset="utf-8">
  <title>test2</title>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/jquery-1.11.2.js"></script>
  <script type="text/javascript" src="js/jqfloat.js"></script>
  <script type="text/javascript" src="js/app.js"></script>

  <!-- VARIOUS JS FILES USED FOR AUTOMATION/SHORTCUTS -->
    <script src="js/kinetic-v4.4.1.min.js"></script>
    <script src="js/heatmap.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/angular-slider.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/d3.js"></script>
    <script type="text/javascript" src="js/nv.d3.js"></script>
    <script type="text/javascript" src="js/angular-animate.js"></script>
    <script type="text/javascript" src="js/angularjs-nvd3-directives.js"></script>
    <script type="text/javascript" src="js/snowstorm.js"></script>
    <script type="text/javascript" src="js/angular-md5.js"></script>
    <script type="text/javascript" src="js/gravatar.js"></script>
    <script type="text/javascript" src="js/angular.audio.js"></script>


    <!-- ALL THE MARVELLOUS CONTROLLERS BELOW -->
    <script type="text/javascript" src="JSControllers/mainController.js"></script>
    <script type="text/javascript" src="JSControllers/conferenceAttendeesMap.js"></script>
    <script type="text/javascript" src="JSControllers/conferenceEventCountdownController.js"></script>
    <script type="text/javascript" src="JSControllers/conferenceTotalAttendessController.js"></script>
    <script type="text/javascript" src="JSControllers/developmentSlackController.js"></script>
    <script type="text/javascript" src="JSControllers/developmentTrelloCards.js"></script>
    <script type="text/javascript" src="JSControllers/helpDeskCallCategoriesController.js"></script>
    <script type="text/javascript" src="JSControllers/helpDeskTopCallersController.js"></script>
    <script type="text/javascript" src="JSControllers/helpDeskCallResponseController.js"></script>
    <script type="text/javascript" src="JSControllers/helpDeskCloseTimeController.js"></script>
    <script type="text/javascript" src="JSControllers/helpDeskProgressController.js"></script>
    <script type="text/javascript" src="JSControllers/settingsController.js"></script>
    <script type="text/javascript" src="JSControllers/synergy4AustraliaMapController.js"></script>
    <script type="text/javascript" src="JSControllers/synergy4CloudUsersController.js"></script>
    <script type="text/javascript" src="JSControllers/synergy4InternController.js"></script>
    <script type="text/javascript" src="JSControllers/synergy4VersionsController.js"></script>
    <script type="text/javascript" src="JSControllers/synergy4WorldMap.js"></script>
    <script type="text/javascript" src="JSControllers/synergy5TimelineController.js"></script>
    <script type="text/javascript" src="JSControllers/synergy5TotalClientsController.js"></script>
    <script type="text/javascript" src="JSControllers/synergy5TrialVersusActiveController.js"></script>
    <script type="text/javascript" src="JSControllers/synergy5WorldMap.js"></script>
    <script type="text/javascript" src="JSControllers/totalSynergyGram.js"></script>
    <script type="text/javascript" src="JSControllers/totalSynergyGravatarController.js"></script>


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="angular-csp.css">
    <link rel="stylesheet" href="angular-slider.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/nv.d3.css">
    <link rel="stylesheet" href="css/animations.css">
</head>

<body>
<div ng-controller="mainController" ng-init="init()">
  <img src="assets/Eventbrite feed SVG_Logo.svg" ng-show="tab > 2 && tab < 6" class="logo">
  <img src="assets/logo.png" ng-show="tab > 12 && tab < 18" class="logo2">
  <img src="assets/logoSynergy5.png" ng-show="tab > 17 && tab <= 21" class="logo3">

  <div class="leftButton" ng-show="tab != 99" ng-click="leftButton()">
  </div>
  <div class="rightButton" ng-show="tab != 99" ng-click="rightButton()">
  </div>
  <div class="settingsButton" ng-show="tab != 99" ng-click="settingsButtonHit()">
  </div>

</div>

  <div ng-controller="KPI1" class="kpi animate blueBackground throwingHundreds" ng-show="tab == 1">
      <div class="gHolder">
      <div id="g1">1</div>
      <div id="g2">2</div>
      <div id="g3">3</div>
      <div id="g4">4</div>
      <div id="g5">5</div>
      <div id="g6">6</div>
      <div id="g7">7</div>
      <div id="g8">8</div>
      <div id="g9">9</div>
      <div id="g10">10</div>
      <div id="g11">11</div>
      <div id="g12">12</div>
      <div id="g13">13</div>
      <div id="g14">14</div>
      <div id="g15">15</div>
      <div id="g16">16</div>
      <div id="g17">17</div>
      <div id="g18">18</div>
      <div id="g19">19</div>
      <div id="g20">20</div>
      <div id="g21">21</div>
      <div id="g22">22</div>
      <div id="g23">23</div>
      <div id="g24">24</div>
      <div id="g25">25</div>
      <div id="g26">26</div>
      <div id="g27">27</div>
      <div id="g28">28</div>
      </div>
      <img src="assets/logoWhite.svg" class="gravatarLogo"/>
  </div>

  <!-- INSTAGRAM -->

  <div ng-controller="KPI2" class="kpi animate instagramController greyBackground" ng-show="tab == 2">
    <p id="billabong">SynergyGram</p>
    <div id="colsHolder">
    <div class="cols">
        <div id="firstInstagram">
          <div id="first">

          </div>
        </div>
        <div id="secondInstagram"></div>
      </div>
      <div class="cols">
        <div id="thirdInstagram">
          <div id="instagramStats">
            <p id="likesCount">{{totalImageInformation[2].likes}}</p>
            <p id="commentsCount">{{totalImageInformation[2].comments}}</p>
            <div id="heart"></div>
            <div id="talkbubble"></div>
          </div>
          <!--<p class="caption">{{totalImageInformation[2].caption | limitTo:70}}</p> -->
        </div>
        <div id="fourthInstagram"></div>
      </div>
      <div class="cols">
        <div id="fifthInstagram"></div>
        <div id="sixthInstagram">
          <div id="instagramStats">
            <p id="likesCount">{{totalImageInformation[5].likes}}</p>
            <p id="commentsCount">{{totalImageInformation[5].comments}}</p>
            <div id="heart"></div>
            <div id="talkbubble"></div>
          </div>
          <!--<p class="caption">{{totalImageInformation[2].caption | limitTo:70}}</p> -->
        </div>
      </div>
      <div class="cols">
        <div id="seventhInstagram">
          <div id="instagramStats">
            <p id="likesCount">{{totalImageInformation[6].likes}}</p>
            <p id="commentsCount">{{totalImageInformation[6].comments}}</p>
            <div id="heart"></div>
            <div id="talkbubble"></div>
          </div>
          <!--<p class="caption">{{totalImageInformation[2].caption | limitTo:70}}</p> -->
        </div>
        <div id="eighthInstagram"></div>
      </div>
    </div>
  </div>

  <!-- CONFERENCE TOTAL ATTENDEES -->



  <div ng-controller="KPI3" class="kpi animate greyBackground" ng-show="tab == 3">
  <div class="container totalAttendees">
    <img class="cube" src="assets/cubeBlank.png">
    <div class="numberOf"><p class="numberOfAttendees">{{totalAttendees}}</p></div>
    <h2 class="totalAttendeesHeader">TOTAL<br>ATTENDEES</h2>
    <p class="normal">LAST YEAR</p>
    <p class="yellowBold">96</p>
    <p class="normal"> ATTENDEES</p>
    </div>
    <canvas id="canvas">    </canvas>
  </div>

  <!-- CONFERENCE ATTENDEE MAP -->



  <div ng-controller="KPI4" class="kpi animate greyBackground" ng-show="tab == 4">
    <div class="greyCover"></div>
    <h1 id="confAten">CONFERENCE ATTENDEES</h1>
    <div class="my-container">
    <img class="country" src="assets/Eventbrite feed SVG_Map.svg" alt="" />
    <div class="nsw"><span>{{NSWnACT}}</span></div>
    <div class="qld"><span>{{QLD}}</span></div>
    <div class="wa"><span>{{WA}}</span></div>
    <div class="nt"><span>{{NT}}</span></div>
    <div class="vic"><span>{{VICnTAS}}</span></div>
    <div class="sa"><span>{{SA}}</span></div>
    </div>
    <div class="international">INTERNATIONAL</div>
    <img class="earth" src="assets/EARTH.svg" alt=""/>
    <div class="earthNumbers"><span>{{international}}</span></div>
  </div>


<!-- CONFERENCE COUNTDOWN -->


  <div ng-controller="KPI5" class="kpi animate greyBackground" ng-show="tab == 5">
  <div class="container greyBackground">
    <h2 class="countDownHeader">SYNERGY2015<br>COUNTDOWN</h2>
    <div class="countDown">
    <h3 class="time">{{days}}</h3><p class="period">DAYS</p>
    <h3 class="time">{{hours}}</h3><p class="period">HOURS</p>
    <h3 class="time">{{minutes}}</h3><p class="period">MINUTES</p>
    </div>
    <div class="conferenceStarts">
      <p class="starts">CONFERENCE STARTS</p>
      <p class="startDate">19 MARCH 2015</p>
    </div>
  </div>
  </div>


  <!-- HELP DESK CALL CATEGORIES -->


  <div ng-controller="KPI6" class="kpi animate" ng-show="tab == 6">
      <h1>SUPPORT - BY PRODUCT LINE</h1>
      <div id="helpDeskCategoryContainer">
      <nvd3-multi-bar-horizontal-chart
            data="barData"
            id="helpDeskCategories"
            width="500"
            height="250"
            tooltips="false"
            showXAxis="true"
            showYAxis="false"
            objectEquality="true"
            clipEdge="true"
            forcey="[0,{{maxY}}]"
            objectEquality="true"
            showValues="true"
            valueFormat="valueFormatFunction()"
            margin="{left:150,top:10,bottom:20,right:50}"
            noData="Loading Data...">
        <div id="smallerContainer">
        <svg id="smallText"></svg>
        </div>
      </nvd3-multi-bar-horizontal-chart>
      </div>
      <div id='threeMonthsDiv'>
        <p class="normalThree">Over The Last 4 Months</p>
        <p class="numberOfCalls">{{numberOfCalls}}</p>
        <p class="normalThree">Support Issues Have Been Raised</p>
      </div>
  </div>

  <!-- HELP DESK CALL RESPONSE TIME -->


  <div ng-controller="KPI7" class="kpi animate hundredHeight" ng-show="tab == 7">
    <!-- CAN TURN THESE 3 INTO STACKED USING MULTIBARCHART 'STACKED MODE' ON -->
      <h1 ng-show="tab == 7">CALL RESPONSE TIME</h1>
      <div id="firstChartContainer">
      <nvd3-multi-bar-chart
    	  data="data"
        id="unique2"
        width="800"
        height="400"
        showXAxis="true"
        showYAxis="true"
        color="colorFunction()"
        objectEquality="true"
        xAxisTickFormat="xAxisTickFormatFunction()"
        stacked="true">
        	<svg></svg>
    </nvd3-multi-bar-chart>
    </div>
    <div id="callsLegend" ng-show="tab == 7">
      <p class="key">One Hour</p><div id="oneHourKey"></div> <p class="key">Four Hours</p><div id="fourHoursKey"></div> <p class="key">One Day</p><div id="oneDayKey"></div>
    </div>
  </div>


  <!-- HELP DESK TEST PAGE -->

  <div ng-controller="KPI8" class="kpi animate" ng-show="tab == 8">

      <h1>Help Desk Data 3</h1>
  </div>

  <!-- HELP DESK TOP CALLERS -->

  <div ng-controller="KPI9" class="kpi animate" ng-show="tab == 9">
    <h1>TOP CALLERS</h1>
   <!-- Caller Stats: {{callerStats}}
    Data Test: {{progressData}} -->
    <div id="helpDeskCategoryContainer2">
      <nvd3-multi-bar-horizontal-chart
            data="data"
            id="helpDeskCategories2"
            width="500"
            height="250"
            tooltips="false"
            showXAxis="true"
            showYAxis="false"
            objectEquality="true"
            clipEdge="true"
            forcey="[0,{{maxY}}]"
            objectEquality="true"
            showValues="true"
            valueFormat="valueFormatFunction()"
            margin="{left:150,top:10,bottom:20,right:50}"
            noData="Loading Data..."
            color="colorFunction()">
        <div id="smallerContainer">
        <svg id="smallText"></svg>
        </div>
      </nvd3-multi-bar-horizontal-chart>
      </div>
      <div id='threeMonthsDiv2'>
        <p class="normalThree">Top 10 Callers Made</p>
        <p class="numberOfCalls">{{percentage}}%</p>
        <p class="normalThree">Of Total Calls Over Last 4 Months</p>
      </div>
  </div>

  <!-- HELP DESK TIME TO CLOSE CALLS -->

  <div ng-controller="KPI10" class="kpi animate" ng-show="tab == 10">
    <h1>TOTAL TIME TO CLOSE CALLS</h1>
    <div id="weirdGraphContainer">
 	<nvd3-multi-bar-chart
    	data="data"
        id="unique"
        width="800"
        height="400"
        showXAxis="true"
        showYAxis="true"
        color="colorFunction()"
        objectEquality="true"
        xAxisTickFormat="xAxisTickFormatFunction()">
        	<svg></svg>
    </nvd3-multi-bar-chart>
    </div>
    <div id="callsLegend2" ng-show="tab == 10">
      <p class="key">One Hour</p><div id="oneHourKey"></div> <p class="key">One Day</p><div id="fourHoursKey"></div> <p class="key">More Than 3 Days</p><div id="oneDayKey"></div>
    </div>
  </div>

  <!-- DEVELOPMENT TRELLO CARDS -->

    <div ng-controller="KPI11" class="kpi animate blueBackground" ng-show="tab == 11">
    <h1 id="trello">Development</h1>
    <div class="cardContainer">
      <div class="cardHolder" ng-repeat="card in doingCards track by $index">
        <div class="topDiv">
        <div id="trello{{$index}}"></div>
        <div class="trelloNameDiv">
          <h3 class="trelloName">{{card.Name}}</h3>
        </div>
        </div>
        <div class="bottomDiv">
        <div class="isDoing">
          <h3 class="trelloName2">{{card.CardName | limitTo: 49}}</h3>
        </div>
        </div>
    </div>
  </div>
  </div>

  <!--  DEVELOPMENT SLACK PAGE -->


  <div ng-controller="KPI12" class="kpi animate" ng-show="tab == 12">
      <h1>Slack Updates</h1>
      <div ng-repeat="message in data" class="slackHolder">
        <div class="slackName">{{returnName(message.user)}}</div>
        <div class="slackMessage">{{message.text}}</div>
      </div>
  </div>

  <!-- SYNERGY4 CLOUD USERS -->

  <div class="heightController kpi pieKPI" ng-controller="KPI13" ng-show="tab == 13">
      <div class="container animate" ng-show="tab == 13">
      <div id="cloudPercentTextContainer">
      <p id="cloudPercent">{{percentage}}%</p>
      <p id="cloudPercentText">OF CLIENTS SYNCHRONISE<br>WITH THE CLOUD</p>
      </div>
      </div>
      <div id="pieChartContainer">
      <nvd3-pie-chart
    	  data="pieData"
        id="pieChart"
        width="550"
        height="350"
        x="xFunction()"
        y="yFunction()"
        objectEquality="true"
        color="colorFunction()">
        <svg height="250"></svg>
      </nvd3-pie-chart>
    </div>
  </div>

  <!-- SYNERGY 4 INTERN PRODUCTIVITY -->

  <div ng-controller="KPI14" class="kpi" ng-show="tab == 14">
    <div class="container animate" ng-show="tab == 14">
      <div id="cloudPercentTextContainer">
      <p id="cloudPercent">{{percentage}}%</p>
      <p id="cloudPercentText">INTERN PRODUCTIVITY</p></p>
      </div>
      </div>
      <div id="pieChartContainer">
      <nvd3-pie-chart
    	  data="internPieData"
        id="internPieChart"
        width="550"
        height="350"
        x="xFunction()"
        y="yFunction()"
        objectEquality="true"
        color="colorFunction()">
        <svg height="250"></svg>
      </nvd3-pie-chart>
    </div>
  </div>

  <!-- SYNERGY 4 DESKTOP VERSION GRAPH -->

  <div class="heightController kpi" ng-controller="KPI15" ng-show="tab == 15">
  <div class="container percentageHeader animate" ng-show="tab==15">
      <div id="rows">
         <div class="col-md-4">
            <p id="percent">{{percentage}}%</p>
         </div>
         <div class="colo-md-8">
            <p id="percentageText">OF CLIENTS ARE ON THE<br> CURRENT DESKTOP VERSION</p>
         </div>
      </div>
  </div>
  <div class="graphContainer">
       <nvd3-discrete-bar-chart
            data="barData"
            id="barChart"
            width="800"
            height="400"
            tooltips="false"
            showXAxis="true"
            showYAxis="false"
            color="colorFunction()"
            objectEquality="true">
        <svg class="smallText"></svg>
    </nvd3-discrete-bar-chart>
    </div>
 </div>



  <!-- SYNERGY4 CLIENT AUSTRALIAN MAP -->

  <div ng-controller="KPI16" class="kpi animate" ng-show="tab == 16">
      <h1 ng-show="tab == 16">Total Synergy Clients</h1>
      <div class="my-container2" ng-show="tab == 16">
      <img class="synergy4Map" src="assets/Synergy4Map.svg" alt="" />
       <div class="total"><span>{{total}}</span></div>
       <div class="nsw2"><span>{{NSW}}</span></div>
       <div class="qld2"><span>{{QLD}}</span></div>
       <div class="wa2"><span>{{WA}}</span></div>
       <div class="nt2"><span>{{NT}}</span></div>
       <div class="vic2"><span>{{VIC}}</span></div>
       <div class="sa2"><span>{{SA}}</span></div>
       <div class="act2"><span>{{ACT}}</span></div>
       <div class="tas2"><span>{{TAS}}</span></div>
      </div>
      <div class="international">INTERNATIONAL</div>
    <img class="earth" src="assets/EARTH.svg" alt=""/>
    <div class="earthNumbers"><span>{{international}}</span></div>
  </div>

  <!-- SYNERGY 4 WORLD MAP -->



  <div ng-controller="KPI17" class="kpi animate" ng-show="tab == 17">
    <h1>Synergy 4 Clients</h1>

    <div id="heatMapContainer"></div>
  </div>

  <!-- SYNERGY 5 TRIAL VERSUS ACTIVE STATS PAGE -->

  <div ng-controller="KPI18" class="kpi animate" ng-show="tab == 18">
    <div id="trialAndActive" class="animate" ng-show="tab == 18">
    <div id="pieChartContainer2" >
      <h2 class="clientTrialHeader">Trial</h2>
      <p class="donutPercentage">{{trial}}</p>
      <nvd3-pie-chart
    	  data="pieData4"
        id="pieChart3"
        width="550"
        height="350"
        x="xFunction()"
        y="yFunction()"
        donut="true"
        color="colorFunction()">
        objectEquality="true">
        <svg height="250"></svg>
      </nvd3-pie-chart>
    </div>

    <div id="pieChartContainer3" ng-show="tab == 18">
          <h2 class="clientTrialHeader2">Active</h2>
          <p class="donutPercentage">{{active}}</p>
      <nvd3-pie-chart
    	  data="pieData3"
        id="pieChart4"
        width="550"
        height="350"
        x="xFunction()"
        y="yFunction()"
        donut="true"
        donutLabelsOutside="true"
        objectEquality="true"
        color="colorFunction()">
        <svg height="250"></svg>
      </nvd3-pie-chart>
    </div>
    </div>
    <div id="bloodyLegend">
      <p class="bloodyLegendName">Basic</p><div id="blueDiv"></div>
      <p class="bloodyLegendName">Professional</p><div id="greenDiv"></div>
      <p class="bloodyLegendName">Enterprise</p><div id="orangeDiv"></div>
    </div>
  </div>

  <!-- SYNERGY 5 TIMELINE PAGE -->

  <div ng-controller="KPI19" class="kpi animate" ng-show="tab == 19"> <!-- change back when instagram page complete -->
    <h1>Synergy 5 User Types</h1>
    <div class="graphContainer2">
    <nvd3-stacked-area-chart
    	data="exampleData"
        id="clientStackedChart"
        showXAxis="false"
        showYAxis="true"
        showLegend="true"
        width="800"
        height="400">
        	<svg></svg>
    </nvd3-stacked-area-chart>
    </div>
    <div id="monthNameHolder">
      <p id="monthNames">June</p>
      <p id="monthNames">{month}</p>
      <p id="monthNames">August</p>
      <p id="monthNames">September</p>
    </div>
  </div>

  <!-- SYNERGY 5 CLIENT SHAPES COUNT -->

  <div ng-controller="KPI20" class="kpi animate" ng-show="tab == 20">
    <h1>Synergy 5 Cirlce/Rectangles</h1>
  </div>


  <!-- SYNERGY 5 WORLD MAP -->

  <div ng-controller="KPI21" class="kpi animate" ng-show="tab == 21">
    <h1>Synergy 5 Clients</h1>
    <div id="heatMapContainer2"></div>
  </div>



<!-- TO ADD A NEW KPI - INSERT AT END, ADD A VARIABLE ONTO APP.JS VARIABLE PAGES, CREATE THE RIGHT LISTENERS IN THE CONTROLLER AND MAKE TAB == WHATEVER
CONTROLLER IT IS. FINALLY, TURN OFF CHROME LOCAL STORAGE - then SAVE PAGES. TUNR OFF APP AND TURN ON LOCAL STORAGE AGAIN + CHANGE THE BACKUP PAGES
IN SETTINGS RESTORE-->

<!-- tips

  - if svg disappears this is due to animate class bug > add ng-show == whateverTabItIs to the div container of the svg

-->



  <div ng-controller="SettingsController as settings" ng-show="tab == 99" ng-init="initSlider()">
    <div class="container">
      <h1>Settings</h1>
      <div class="keyRow">
      <label for="inputEmail3" class="col-md-1 control-label">EventBrite</label>
      <div class="col-md-3 col-sm-5">
        <input type="text" class="form-control" id="inputEmail3" ng-model="eventBriteKey" placeholder="EventBrite Key" name="text">
      </div>
      <label for="inputEmail3" class="col-md-1 control-label">Synergy4</label>
      <div class="col-md-3">
        <input type="text" class="form-control" id="inputEmail3" placeholder="Synergy Key" ng-model="totalSynergyKey">
      </div>
      <label for="inputEmail3" class="col-md-1 control-label">Slack</label>
      <div class="col-md-3">
        <input type="text" class="form-control" id="inputEmail3" placeholder="Slack Key" ng-model="slackKey">
      </div>
      </div>
      <div class="keyRow">
      <label for="inputEmail3" class="col-md-1 control-label">Trello</label>
      <div class="col-md-3">
        <input type="text" class="form-control" id="inputEmail3" placeholder="Application Key (-) Token" ng-model="trelloKeys">
      </div>
      <label for="inputEmail3" class="col-md-1 control-label">Synergy5</label>
      <div class="col-md-3">
        <input type="text" class="form-control" id="inputEmail3" placeholder="Future Key" ng-model="totalSynergy5Key">
      </div>
      <label for="inputEmail3" class="col-md-1 control-label">Future </label>
      <div class="col-md-3">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Future Key" >
      </div>
      </div>
      <div  class="paddingTop">
      <div ng-repeat="page in pages">
        <div class="col-md-3">
            <input type="checkbox" name="page.name" value="page.name" ng-checked="page.isSelected" ng-click="turnOffPage(page)">{{"  " + page.name}}</input>
        </div>
      </div>
      </div>
      <div class="speedHolder">
        <h2 class="speed">Speed: {{speed/1000}} seconds</h2>
        <slider floor="1000" ceiling="30000" step="1000" ng-model="speed"></slider>
      </div>
      <div class="buttonHolder">
        <button type="button" class="btn btn-primary btn-lg active" ng-click="save()">Save</button>
        <button type="button" class="btn btn-default btn-lg active" ng-click="settingsClose()"/>Exit</button>
        <button type="button" class="btn btn-default btn-lg active" ng-click="restoreDefaults()">Restore</button>
      </div>
    </div>
    </div>
</body>