<h1> <br> </h1>
    <div class="container" style="margin-top : 5%;">
      <div class="row">
        <div class="col-md-6">
          <div class="bomRadarWebView"></div>          
        </div>
        <div class="col-md-6">
          <div class="row marginBottom2">
            <div class="col-md-12">
              <p class="text-center dayOfWeek">{{forecast[0].Day}}</p>              
            </div>
            <div class="col-md-6">
              <div class="weatherHolder pull-right"></div>
            </div>
            <div class="col-md-6">
              <p class="temperature pull-left">{{forecast[0].Temperature}}°C</p>
            </div>
            
            <div class = "col-md-12" style="margin-top: 5%;">
              <div class="row marginBottom2">
                <div class="col-md-4">
                  <p class="dayOfWeek inline">Tomorrow:</p>                  
                </div>
                <div class="col-md-3">
                  <p class="miniTemperature">{{forecast[1].Temperature}}°C</p>      
                </div>
                <div class="col-md-3">
                  <div class="miniWeatherHolder1">  
                   </div>
                </div>
              </div>
            </div>
            
            <div class = "col-md-12">
              <div class="row marginBottom2">
                <div class="col-md-4">
                  <p class="dayOfWeek inline">{{forecast[2].Day}}:</p>                  
                </div>
                <div class="col-md-3">
                  <p class="miniTemperature">{{forecast[2].Temperature}}°C</p>      
                </div>
                <div class="col-md-3">
                  <div class="miniWeatherHolder2">  
                   </div>
                </div>
              </div>
            </div>
            
            <div class = "col-md-12">
              <div class="row marginBottom2">
                <div class="col-md-4">
                  <p class="dayOfWeek inline">{{forecast[3].Day}}:</p>                  
                </div>
                <div class="col-md-3">
                  <p class="miniTemperature">{{forecast[3].Temperature}}°C</p>      
                </div>
                <div class="col-md-3">
                  <div class="miniWeatherHolder3">  
                   </div>
                </div>
              </div>
            </div>
            
            <div class = "col-md-12">
              <div class="row marginBottom2">
                <div class="col-md-4">
                  <p class="dayOfWeek inline">{{forecast[4].Day}}:</p>                  
                </div>
                <div class="col-md-3">
                  <p class="miniTemperature">{{forecast[4].Temperature}}°C</p>      
                </div>
                <div class="col-md-3">
                  <div class="miniWeatherHolder4">  
                   </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>