
    <h1 id="confAten">CONFERENCE ATTENDEES</h1>
    <div class="my-container">
    <img class="country" src="assets/conference/conferenceMap.png" alt="" />
    <div class="nsw">
      <img class="cubeHolder" src="assets/conference/conferenceNumHolder.png">
      <span>{{NSWnACT}}</span>
    </div>
    <div class="qld">
      <img class="cubeHolder" src="assets/conference/conferenceNumHolder.png">
      <span>{{QLD}}</span>
    </div>
    <div class="wa">
      <img class="cubeHolder" src="assets/conference/conferenceNumHolder.png">
      <span>{{WA}}</span>
    </div>
    <div class="nt">
      <img class="cubeHolder" src="assets/conference/conferenceNumHolder.png">
      <span>{{NT}}</span>
    </div>
    <div class="vic">
      <img class="cubeHolder" src="assets/conference/conferenceNumHolder.png">
      <span>{{VICnTAS}}</span>
    </div>
    <div class="sa">
      <img class="cubeHolder" src="assets/conference/conferenceNumHolder.png">
      <span>{{SA}}</span>
    </div>
    </div>
    <div class="internationalHolder">
        <p class="international">INTERNATIONAL</p>
        <img class="earth" src="assets/EARTH.svg" alt=""/>
        <div class="earthNumbers"><span>{{international}}</span></div>
    </div>