  <div class="container grey conference-flex">
    <img src="/assets/conference/conference-2017.png" class="conference-logo"/>
    <div class="conference-top">
      <div class="conference-countdown-title">
          <h2 class="countDownHeader">SYNERGY2017<br>COUNTDOWN</h2>
      </div>
      <div class="countDown">
        <h3 class="time">{{days}}</h3><p class="period">DAYS</p>
        <h3 class="time">{{hours}}</h3><p class="period">HOURS</p>
        <h3 class="time">{{minutes}}</h3><p class="period">MINUTES</p>
      </div>
    </div>
    <div class="conferenceStarts">
      <p class="starts">CONFERENCE STARTS</p>
      <p class="startDate">16 MARCH 2017</p>
    </div>
  </div>