    <h1><br></h1>
    <div class="valuesLogoHolder">
      <p class="valuesLogo">SYNERGY VALUES<span class="valuesLogoSubtext"> (MORAL COMPASS)</span></p>
    </div>
    <div class="container" style="margin-top:10%">
      
      <div class="row valueHolder animate" ng-show="valueActive == 1">
        <div class = "col-md-4">
          <div class="valueImageHolder">
            <img src="assets/marketingValues/Care.png" class="synergyValueImage">
          </div>     <!-- to be replaced by image -->
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <p class="visionTitle">CARE</p>
            </div>
            <div class="col-md-12">
              <ul>
                <li><p class="visionDotPoint">TO SHOW EMPATHY AT ALL TIMES</p></li>
                <li><p class="visionDotPoint">BE CONSIDERATE AT ALL TIMES</p></li>
                <li><p class="visionDotPoint">WE ARE HERE TO HELP</p> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row valueHolder animate" ng-show="valueActive == 2">
        <div class = "col-md-4">
          <div class="valueImageHolder">
            <img src="assets/marketingValues/Integrity.png" class="synergyValueImage">
          </div>     <!-- to be replaced by image -->
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <p class="visionTitle">INTEGRITY</p>
            </div>
            <div class="col-md-12">
              <ul>
                <li><p class="visionDotPoint">NO BULL </p><p class="visionOrValueSubText">  (DON'T TAKE IT PERSONALLY)</p></li>
                <li><p class="visionDotPoint">TREAT OTHERS HOW YOU WANT TO BE TREATED</p></li>
                <li><p class="visionDotPoint">BEHAVE ETHICALLY</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row valueHolder animate" ng-show="valueActive == 3">
        <div class = "col-md-4">
          <div class="valueImageHolder">
            <img src="assets/marketingValues/Respect.png" class="synergyValueImage">
          </div>      <!-- to be replaced by image -->
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <p class="visionTitle">RESPECT</p>
            </div>
            <div class="col-md-12">
              <ul>
                <!--<li><p class="visionDotPoint">DON'T HOLD A GRUDGE</p><p class="visionOrValueSubText"> (FORGIVE AND FORGET)</p></p></li>
                <li><p class="visionDotPoint">DON'T ASSUME</p><p class="visionOrValueSubText"> (ASK QUESTIONS)</li>
                <li><p class="visionDotPoint">LISTEN FIRST</p></li>
                -->
                <li><p class="visionDotPoint">DON'T HOLD A GRUDGE </p><p class="visionOrValueSubText">  (FORGIVE AND FORGET)</p></li>
                <li><p class="visionDotPoint">DON'T ASSUME </p><p class="visionOrValueSubText">  (ASK QUESTIONS)</p></li>
                <li><p class="visionDotPoint">LISTEN FIRST</p></li> 
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>