    <div class="avLifeChartHolder">
      <div class="averageLifeIs">
        <p class="averageLifeText">AVERAGE LIFETIME OF CLIENTS IS </p>
        <p class="averageLifeTimeText">2 YEARS, 60 DAYS</p>
      </div>
        <div class="averageLifeSquare">
        </div>
    	<nvd3-line-chart
        	data="exampleData"
            id="averageLifeChart"
            width="550"
            height="300"
            showXAxis="true"
            showYAxis="true">
            	<svg></svg>
      </nvd3-line-chart>
    </div>