<h1 ng-show="tab == 17">Total Synergy Clients</h1>
      <div class="my-container2" ng-show="tab == 17">
      <img class="synergy4Map" src="assets/Synergy_4_map_Map.png" alt="" />
       <div class="total"><span>{{total}}</span></div>
       <div class="nsw2"><span>{{NSW}}</span></div>
       <div class="qld2"><span>{{QLD}}</span></div>
       <div class="wa2"><span>{{WA}}</span></div>
       <div class="nt2"><span>{{NT}}</span></div>
       <div class="vic2"><span>{{VIC}}</span></div>
       <div class="sa2"><span>{{SA}}</span></div>
       <div class="act2"><span>{{ACT}}</span></div>
       <div class="tas2"><span>{{TAS}}</span></div>
      </div>
      
      <div class="internationalHolder">
        <p class="international">INTERNATIONAL</p>
        <img class="earth" src="assets/EARTH.svg" alt=""/>
        <div class="earthNumbers"><span>{{international}}</span></div>
    </div>