<div class="synergy5-client-flex">
    <span id="synergy5-new-client-location">NSW, SYDNEY</span>  
    <span id="synergy5-new-client">{{vm.latestClient}}</span>
    <span id="synergy5-new-client-sub">JUST JOINED TOTAL SYNERGY</span>    
    <span id="synergy5-new-client-position"><span id="highlight-position">{{vm.latestClientPosition}}</span> client to join</span>         



</div>

<img src="assets/logoSynergy5.png" id="synergy5-client-new-logo" class="logo3">
<!-- confetti Canvas -->
<canvas id="synergy5NewClientCanvas">    </canvas>