    <p id="billabong">SynergyGram</p>
    <div id="colsHolder">
    <div class="cols">
        <div id="firstInstagram">
          <div id="first">

          </div>
        </div>
        <div id="secondInstagram"></div>
      </div>
      <div class="cols">
        <div id="thirdInstagram">
          <div id="instagramStats">
            <p id="likesCount">{{totalImageInformation[2].likes}}</p>
            <p id="commentsCount">{{totalImageInformation[2].comments}}</p>
            <div id="heart"></div>
            <div id="talkbubble"></div>
          </div>
          <!--<p class="caption">{{totalImageInformation[2].caption | limitTo:70}}</p> -->
        </div>
        <div id="fourthInstagram"></div>
      </div>
      <div class="cols">
        <div id="fifthInstagram"></div>
        <div id="sixthInstagram">
          <div id="instagramStats">
            <p id="likesCount">{{totalImageInformation[5].likes}}</p>
            <p id="commentsCount">{{totalImageInformation[5].comments}}</p>
            <div id="heart"></div>
            <div id="talkbubble"></div>
          </div>
          <!--<p class="caption">{{totalImageInformation[2].caption | limitTo:70}}</p> -->
        </div>
      </div>
      <div class="cols">
        <div id="seventhInstagram">
          <div id="instagramStats">
            <p id="likesCount">{{totalImageInformation[6].likes}}</p>
            <p id="commentsCount">{{totalImageInformation[6].comments}}</p>
            <div id="heart"></div>
            <div id="talkbubble"></div>
          </div>
          <!--<p class="caption">{{totalImageInformation[2].caption | limitTo:70}}</p> -->
        </div>
        <div id="eighthInstagram"></div>
      </div>
    </div>