<div class="gHolder">
  <div id="g1"></div>
  <div id="g2"></div>
  <div id="g3"></div>
  <div id="g4"></div>
  <div id="g5"></div>
  <div id="g6"></div>
  <div id="g7"></div>
  <div id="g8"></div>
  <div id="g9"></div>
  <div id="g10"></div>
  <div id="g11"></div>
  <div id="g12"></div>
  <div id="g13"></div>
  <div id="g14"></div>
  <div id="g15"></div>
  <div id="g16"></div>
  <div id="g17"></div>
  <div id="g18"></div>
  <div id="g19"></div>
  <div id="g20"></div>
  <div id="g21"></div>
  <div id="g22"></div>
  <div id="g23"></div>
  <div id="g24"></div>
  <div id="g25"></div>
  <div id="g26"></div>
  <div id="g27"></div>
  <div id="g28"></div>
</div>

<img src="assets/logoWhite.svg" class="gravatarLogo"/>