<h1><br></h1>
    <div class="valuesLogoHolder">
      <p class="valuesLogo2">SYNERGY ETHOS<span class="valuesLogoSubtext2"> (FOCUS POINTS) </span></p>
    </div>
    <div class="container" style="margin-top:10%">
      
      <div class="row visionHolder animate" ng-show="valueActive == 1">
        <div class = "col-md-4">
          <div class="valueImageHolder">
            <img src="assets/marketingValues/Communication.png" class="synergyValueImage">
          </div>    <!-- to be replaced by image -->
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <p class="valueTitle">COMMUNICATION</p>
            </div>
            <div class="col-md-12">
              <ul>
                <li><p class="valueDotPoint">CLEAR AND SIMPLE</p></li>
                <li><p class="valueDotPoint">CONSISTENT MESSAGES</p><p class="visionOrValueSubText">  (CHECK IN INTERNALLY)</p> </li>
                <li><p class="valueDotPoint">ORIO</p> <p class="visionOrValueSubText"> (ORGINAL, RELEVANT, INSIGHTFUL, OBJECTIVE)</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row visionHolder animate" ng-show="valueActive == 2">
        <div class = "col-md-4">
          <div class="valueImageHolder">
            <img src="assets/marketingValues/Synergy.png" class="synergyValueImage">
          </div>     <!-- to be replaced by image -->
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <p class="valueTitle">SYNERGY</p>
            </div>
            <div class="col-md-12">
              <ul>
                <li><p class="valueDotPoint">CONNECTED</p></li>
                <li><p class="valueDotPoint">UNIFIED</p><p class="visionOrValueSubText"> (ALIGNED)</p> </li>
                <li><p class="valueDotPoint">UNDERSTANDING</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row visionHolder animate" ng-show="valueActive == 3">
        <div class = "col-md-4">
          <div class="valueImageHolder">
            <img src="assets/marketingValues/Smart.png" class="synergyValueImage">
          </div>    <!-- to be replaced by image -->
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <p class="valueTitle">SMART</p>
            </div>
            <div class="col-md-12">
              <ul>
                <li><p class="valueDotPoint">INTUITIVE</p></li>
                <li><p class="valueDotPoint">QUALITY</p></li>
                <li><p class="valueDotPoint">CHALLENGE <span class="visionOrValueSubText"> (NEW, FRESH, CHALLENGE THE "NORM")</span></p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>