<div class="gSHolder">
  <div id="gS1"></div>
  <div id="gS2"></div>
  <div id="gS3"></div>
  <div id="gS4"></div>
  <div id="gS5"></div>
  <div id="gS6"></div>
  <div id="gS7"></div>
  <div id="gS8"></div>
  <div id="gS9"></div>
  <div id="gS10"></div>
  <div id="gS11"></div>
  <div id="gS12"></div>
  <div id="gS13"></div>
  <div id="gS14"></div>
  <div id="gS15"></div>
  <div id="gS16"></div>
  <div id="gS17"></div>
  <div id="gS18"></div>
  <div id="gS19"></div>
  <div id="gS20"></div>
  <div id="gS21"></div>
  <div id="gS22"></div>
  <div id="gS23"></div>
  <div id="gS24"></div>
  <div id="gS25"></div>
  <div id="gS26"></div>
  <div id="gS27"></div>
  <div id="gS28"></div>
</div>

<div id="synergy5-logo-holder">
  <img src="/assets/synergy5plain.png"/>
</div>
