<div class="gHolder">
  <div id="g1">1</div>
  <div id="g2">2</div>
  <div id="g3">3</div>
  <div id="g4">4</div>
  <div id="g5">5</div>
  <div id="g6">6</div>
  <div id="g7">7</div>
  <div id="g8">8</div>
  <div id="g9">9</div>
  <div id="g10">10</div>
  <div id="g11">11</div>
  <div id="g12">12</div>
  <div id="g13">13</div>
  <div id="g14">14</div>
  <div id="g15">15</div>
  <div id="g16">16</div>
  <div id="g17">17</div>
  <div id="g18">18</div>
  <div id="g19">19</div>
  <div id="g20">20</div>
  <div id="g21">21</div>
  <div id="g22">22</div>
  <div id="g23">23</div>
  <div id="g24">24</div>
  <div id="g25">25</div>
  <div id="g26">26</div>
  <div id="g27">27</div>
  <div id="g28">28</div>
</div>

<img src="assets/logoWhite.svg" class="gravatarLogo"/>